/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.hex {
		@apply active:scale-90 active:border-gray-50 unselectable;
	}
	.word-list {
		@apply border rounded-lg w-full p-3 flex flex-row justify-between items-center font-light mt-1;
	}
	.word-list-words {
		@apply w-full flex flex-row flex-wrap;
	}
	.expanded-list-word {
		@apply px-1 border-b border-b-gray-300 py-2;
	}
	.list-word {
		@apply px-1;
	}
	.arrow {
		@apply border-black border-r-2 border-b-2 h-3 w-3 self-end rotate-45 mb-3;
	}
	.ranking-bar {
		@apply flex flex-row justify-between items-center z-10 mr-2;
	}
	.current-rank-icon {
		@apply w-8 h-8 rounded-full bg-yellow-300 flex items-center justify-center;
	}
	.past-rank-icon {
		@apply w-2 h-2 rounded-full bg-yellow-300 flex items-center justify-center;
	}
	.future-rank-icon {
		@apply w-2 h-2 rounded-full bg-gray-300 flex items-center justify-center;
	}
	.final-rank-icon {
		@apply w-3 h-3 bg-gray-300 flex items-center justify-center;
	}
	.line {
		@apply border-t mx-1 mb-4 -mt-4 mr-2;
	}
	.single-btn {
		@apply border m-1 mx-2 py-3 px-1 rounded-full active:bg-gray-100 disabled:active:bg-white w-24;
	}
	.shuffle-btn {
		@apply border m-1 mx-2 p-4 rounded-full active:bg-gray-100 text-xl disabled:active:bg-white;
	}
	.letters {
		@apply fill-gray-300;
	}
	.hex {
		@apply active:scale-90 active:border-gray-50 unselectable;
	}
	.buttons {
		@apply flex flex-row items-center justify-center unselectable pt-4;
	}
	.arrow-icon {
		@apply w-6 h-6 flex justify-center items-center self-start rounded-full hover:bg-gray-100
		active:bg-gray-100;
	}
}

body {
	touch-action: pan-x pan-y;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

mont-font {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.unselectable {
	user-select: none;
}

.number {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2rem;
}

@media (max-width: 767px) {
	.hex:active .hex-middle {
		background-color: rgb(209 213 219);
	}
	.hex:active .hex-top {
		border-right: calc(0.75 * 30px) solid rgb(209 213 219);
		border-top: calc(0.75 * 52px) solid transparent;
		border-bottom: calc(0.75 * 52px) solid transparent;
	}
	.hex:active .hex-bottom {
		border-left: calc(0.75 * 30px) solid rgb(209 213 219);
		border-top: calc(0.75 * 52px) solid transparent;
		border-bottom: calc(0.75 * 52px) solid transparent;
	}

	.hex {
		float: left;
		margin-right: -12px;
		margin-left: -5px;
		margin-bottom: -57px;
	}
	.hex-top {
		/* Left side triangle of each gray hex */
		float: left;
		width: 0;
		border-right: calc(30px * 0.75) solid rgb(229 231 235);
		border-top: calc(0.75 * 52px) solid transparent;
		border-bottom: calc(0.75 * 52px) solid transparent;
	}
	.hex-middle {
		/* Middle rectangle of each gray hex */
		float: left;
		width: calc(60px * 0.75);
		height: calc(104px * 0.75);
		background: rgb(229 231 235);
	}
	.hex-bottom {
		/* Right side triangle of each gray hex */
		float: left;
		width: 0;
		border-left: calc(0.75 * 30px) solid rgb(229 231 235);
		border-top: calc(0.75 * 52px) solid transparent;
		border-bottom: calc(0.75 * 52px) solid transparent;
	}
	.hex-row {
		clear: left;
	}

	.center-top {
		float: left;
		width: 0;
		border-right: calc(0.75 * 30px) solid rgb(253 224 71);
		border-top: calc(0.75 * 52px) solid transparent;
		border-bottom: calc(0.75 * 52px) solid transparent;
	}
	.hex-center {
		float: left;
		width: calc(0.75 * 60px);
		height: calc(0.75 * 104px);
		background-color: rgb(253 224 71);
	}
	.center-bottom {
		float: left;
		width: 0;
		border-left: calc(0.75 * 30px) solid rgb(253 224 71);
		border-top: calc(0.75 * 52px) solid transparent;
		border-bottom: calc(0.75 * 52px) solid transparent;
	}
}

@media (min-width: 768px) {
	.hex:active .hex-middle {
		background-color: rgb(209 213 219);
	}
	.hex:active .hex-top {
		border-right: 30px solid rgb(209 213 219);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}
	.hex:active .hex-bottom {
		border-left: 30px solid rgb(209 213 219);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}

	.hex {
		float: left;
		margin-right: -25px;
		margin-bottom: -58px;
	}
	.hex-top {
		float: left;
		width: 0;
		border-right: 30px solid rgb(229 231 235);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}
	.hex-middle {
		float: left;
		width: 60px;
		height: 104px;
		background: rgb(229 231 235);
	}
	.hex-bottom {
		float: left;
		width: 0;
		border-left: 30px solid rgb(229 231 235);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}
	.hex-row {
		clear: left;
	}

	.center-top {
		float: left;
		width: 0;
		border-right: 30px solid rgb(253 224 71);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}
	.hex-center {
		float: left;
		width: 60px;
		height: 104px;
		background-color: rgb(253 224 71);
	}
	.center-bottom {
		float: left;
		width: 0;
		border-left: 30px solid rgb(253 224 71);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}
}


:root {
	--toastContainerRight: auto;
	--toastBackground: #F56565;
	--toastBarBackground: #C53030;
	--toastContainerTop: 4rem;
	--toastContainerLeft: calc(50vw - 8rem);
}